{% extends 'base.html' %}

{% block title %}Simple Ajax Django Example{% endblock %}

{% block javascript %}
<script>
    $("#id_username").change(function () {
        var username = $(this).val();

        $.ajax({
            url: '/ajax/validate-username/',
            data: {
                'username': username
            },
            dataType: 'json',
            success: function (data) {
                if (data.is_present) {
                    alert("A user with this username already exists.");
                }
            }
        });

    });
</script>
{% endblock javascript%}

{% block content %}
<div class="container">
    <h1>Simple Ajax Django Example</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-info">Sign up</button>
    </form>
</div>
{% endblock %}

